<div class="col-md-12">
  <h2>
    New topic
    <div class="pull-right">
      <%= link_to "Back", topics_path, class: "btn btn-default btn-link" %>
    </div>
  </h2>

  <hr>

  <%= render 'form' %>
</div>
