@import "bootstrap-sass/assets/stylesheets/bootstrap-sprockets";
@import "bootstrap-sass/assets/stylesheets/bootstrap";

.inline-div {
  h3 {
    display: inline-block;
  }

  p {
    margin: 0px 5px;
    display: inline-block;
    font-size: small;
  }
}

a.title {
  text-decoration: none;
  color: #333333;

  &:hover {
    opacity: 0.5;
  }
}

a.actions {
  text-decoration: none;
  color: #337ab7;
  margin: 0px 5px;
  font-size: small;

  &:hover {
    opacity: 0.5;
  }
}

.footer {
  margin-top: 20px;
  padding: 40px 20px;
  width: 100%;

  a {
    margin: 0px 5px;
  }
}
